:root {
  --cyan: hsl(179, 62%, 43%);
  --lightcyan: hsl(179, 47%, 52%);
  --brightyellow: hsl(71, 73%, 54%);
  --lightgray: hsl(204, 43%, 93%);
  --grayishblue: hsl(218, 22%, 67%);
  --white: hsl(255, 255%, 255%);
}

html,
body {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--lightgray);
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parent-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 700px;
  margin: 0 auto;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 0px 14px 1px hsla(0, 0%, 0%, 0.14);
}

.item-1,
.item-2,
.item-3 {
  padding: 2rem;
}

.item-1 {
  background-color: var(--white);
  grid-column: span 2;
}

.heading {
  font-weight: 600;
  color: var(--cyan);
}

.item-1-sub {
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--brightyellow);
}

.item-1-body {
  color: var(--grayishblue);
  margin: 1rem 0;
}

.item-2 {
  background-color: var(--cyan);
  color: var(--white);
}

button {
  background-color: var(--brightyellow);
  border: none;
  width: 100%;
  padding: 0.75rem;
  color: var(--white);
  border-radius: 0.3rem;
  box-shadow: 0px 0px 14px 1px hsla(0, 0%, 0%, 0.14);
  margin-top: 0.5rem;
  font-weight: 600;
}

button:hover {
  background-color: hsl(73, 73%, 33%);
}

.subheading {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.price {
  display: flex;
  flex-direction: columns;
  align-items: center;
  margin-bottom: -0.5rem;
}

.cost {
  font-size: 2rem;
  font-weight: 400;
  margin-right: 1rem;
}

.freq {
  color: hsla(255, 255, 255, 0.2);
}

.item-body {
  color: var(---white);
  margin: 1rem 0;
}

.item-3 {
  background-color: var(--lightcyan);
  color: var(--white);
}

p {
  margin: 0;
}

@media (max-width: 700px) {
  .container {
    margin: 1rem;
  }

  .parent-grid {
    grid-template-columns: 1fr;
  }
  .item-1 {
    grid-column: span 1;
  }

  .item-1,
  .item-2,
  .item-3 {
    padding: 1.5rem;
  }
}
